
table.dataTable tbody tr.top1{
    background: #FFE69A !important;
}

table.dataTable tbody tr.top2{
    background: #F9CEEE !important;
}

table.dataTable tbody tr.top3{
    background: #EAF6F6  !important;
}